<!DOCTYPE html>
<html ng-app>
<head>
  <title>Angular</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/scripts.css">

</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center" > An Interactive short story</a>
    </div>
  </nav>

<div class="container">
   <form>
   <br>
   <br>
   <font face="Georgia">  Male Main Character:</font> <input ng-model="maleMainCharacter" placeholder="Male Main Character"></input> <br />

    <font face="Georgia">  Female Character:</font> <input ng-model="femaleCharacter" placeholder="Female Main Character"></input> <br />

<font face="Georgia">  Male Character:</font> <input ng-model="maleCharacter" placeholder="Male Character"></input> <br />

<font face="Georgia">  Children1:</font> <input ng-model="Children1" placeholder="Children 1"></input> <br />

<font face="Georgia">  Children2:</font> <input ng-model="Children2" placeholder="Children 2"></input> <br />
<font face="Georgia">  UniversityName:</font> <input ng-model="UniversityName" placeholder="University Name"></input> <br />
</form>

  <h3><center> {{ maleMainCharacter }} </center></h3>
 <br>
<p><font face="Georgia">
<br><br>It was only a simple procedure. {{ maleMainCharacter }} looked at his watch and counted the minutes he had been waiting. Ten. No. Eleven. He read a short story in those eleven minutes, one that he had been meaning to read for some time, but it was over now. He was now alone for over fifty minutes because he never read a story twice. He was alone in a hospital corridor. Hospitals had never depressed him before. His last two visits to hospital were for the births of his two children; their two children {{ Children1 }} and {{ Children2 }} . When he thought of their children, at home with his mother-in-law, he became more nervous. So he stopped.<br>
<br>
He focused on his heartbeat. It was quick. It reminded him of waiting for his A-Level results at the sixth form. His girlfriend {{ femaleCharacter }} at the time had already received her results and had got two A's and two B's. They were the exact grades he needed for university. She stood and waited with him but he felt uneasy. Silent in the queue, just as he was in the corridor. He didn't know where to look, and everything was out of his hands. <br>
<br>
"{{ maleMainCharacter }} the child once more," he thought. He asked his girlfriend {{ femaleCharacter }} to stand somewhere else.<br>
<br>
". Please. I'll talk when I've got mine."<br>
<br>
"What shall we talk about then?"<br>
<br>
"I don't want to talk {{ femaleCharacter }}. Just go talk to {{ maleCharacter2 }} over there, look. He's got his."<br>
<br>
"Okay," she said and trudged off.<br>
<br>
{{ femaleCharacter }} had an awkward walk. {{ maleMainCharacter }} hadn't noticed how broad her shoulders were until after they had broken up, a year later, when they met for coffee and a catch up. "Her shoulders couldn't have become broader since I last saw her," he thought as she walked through the doors to meet him. He was always early for everything and often waiting around.<br>
<br>
{{ maleMainCharacter }} doesn't remember thinking anything specific, or even moving his hands to dial his dad's work number, but before he knew it, he was on the phone to his dad.<br>
<br>
"Hello. Dad?"<br>
<br>
"{{ maleMainCharacter }}?"<br>
<br>
"Just got my results."<br>
<br>
"Well?"<br>
<br>
"I got in. Got what I needed for {{UniversityName}}. Just thought I'd let you know."<br>
<br>
"Good. And were they the grades your mother and I set?"
<br>
"Yes. Three A's."<br>
"Well done. Well done. Is your mum there?"<br>
<br>
"Where?"<br>
<br>
"With you? Are you at home?"<br>
<br>
"No. At college. I'm using my mobile."<br>
<br>
"I see. Well. You had better let your mum know. I'll be home later on. Well done {{ maleMainCharacter }}. You've worked hard this year."<br>
<br>
"Thanks. See you later."<br>
<br>
"See you."<br>
<br>
The only other time he ever phoned his dad at work was when he was nine. He just defeated the final enemy, in the final level of a video game. He had been playing the game for months with his dad keenly urging him on. He remembered the final battle for nothing except how scared he was going into it. His dad wasn't behind him telling him where to move or when to shoot. He was on his own.
He looked back to the story he had already read and started to read it again. He enjoyed the first paragraph as if he had never read it before. He never visited the same restaurant twice in a year, never listened to an album twice in a month, and even insisted that his wife and he leave a seven year gap between their first and second child. {{ maleMainCharacter }} couldn't remember much from his first read, even though it was only a few moments ago. This time he concentrated, and to his surprise, found that he was able to give the story his full attention for a second read.
The story was of an elderly man thinking of his childhood, and particularly his mother. The voice of the narrator seemed natural to him but in the space of fifteen lines, just one paragraph near the end of the story, the pace quickened. The writer killed off three of the man's family and aged him fifty years to his deathbed. {{ maleMainCharacter }} knew it was coming because the story started from the deathbed but it was all too quick for him. This was an honest story with a familiar voice. He trusted the writer. {{ maleMainCharacter }} was a boy again looking up to his dad for guidance, and asking where to go. {{ maleMainCharacter }} wanted to ask the writer if these unforgiving fifteen lines were as true to life as the calmness of the beginning of his story. He would find out for himself soon enough.
The simple procedure complicated and his wife died the next day. {{ maleMainCharacter }}'s mum followed two months afterwards and naturally his dad’s motivation soured and soon left. {{ maleMainCharacter }}'s will would never fold in the same manner throughout his entire life, and even despite a strong negativity gradually making it more and more difficult for him to maintain his efforts. He stood behind his {{ Children1 }} & {{ Children2 }} and told them where to shoot when they became too scared to open their eyes, but {{ maleMainCharacter }} just knew that his attempts were nothing on his dad’s. What {{ maleMainCharacter }}never truly learnt was why. It was because {{ maleMainCharacter }} only told his children {{ Children1 }} & {{ Children2 }} where not to shoot. He couldn't tell them where to, and that is a much more attractive instruction.<br>
<br></font>
 </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>

</html>

